body {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: center;
  text-align: center;
}

/* ------- HEADER / NAVIGATION ------- */

.header-color {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height:70px;
  position:fixed;
  padding:10px;
  left:0;
  width:100%;
  z-index: 999;
  border-bottom: 1px solid #5B86E5;
}

.navigation{
  display:flex;
  justify-content: space-between;
  width:40%;
  margin: auto;
  padding: 10px;
  font-size: 20px;
}

.navigation a {
  color:#153682;
}

.navigation a:hover{
  text-decoration: none;
}


/* ------- LANDING PAGE ------- */

.landing-grid {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position:relative;
  top:100px;
  width: 100%;
  height: 100%;
  display:flex;
  text-align: center;
  justify-items: center;
}

.myPic {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.banner-text {
  margin:auto;
  width:75%;
  /* text-align: center; */
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  padding-bottom: 10px;
}

.banner-text h1 {
  font-size: 30px;
  color:white;
}

.banner-text p {
  font-size: 20px;
  color: white;
  padding:5px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;

}

.social-links i {
  color: white;
  font-size: 4em;
  padding: 8px;
}

.social-links i:hover {
  color: #5B86E5;
}


/* ------- PROJECTS PAGE ------- */

.projects-grid {
  flex-direction: row;
  justify-content: center;
}

h3{
  font-weight: bold;
  color:black;
  font-size:.3rem;
}

.project-card{
  width:400px;
  display: inline-block; 
  height: auto;
  margin:10px;
}

.project-card-title{
  color: #fff; 
  height: 380px 
}

.project-card-text{
  height: 150px;
  padding:10px;
  text-align:left;
}

.project-links{
  text-align: center;
  padding:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-links i{
  text-decoration: none;
  color: black;
  font-size: 30px;
  text-align: center;
  padding:0px;
}

.project-links a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  padding:5px;
}

.project-links a:hover {
  color: #5B86E5;
}

.project-links i:hover {
  color: #5B86E5;
}

@media (max-width:500px){
  .project-card-title{
    height: 150px 
  }

  .project-card{
    width:70%;
    display: inline-block; 
    height: auto;
    margin:8px auto;
    justify-content: center;
  }

  .navigation{
    justify-content: space-between;
    width:100%;
    font-size:1em;
  }

  .header-color{
    position: fixed;
  }
}

/* ------- CONTACT PAGE ------- */

.contact-body {
  margin:auto;
  position: relative;
  top: 80px;
  text-align: center;
  width: 85%;
  height: 100%;
  justify-content: center;
  padding-top:2em;
  color:white;
  font-family: 'Oxygen', sans-serif;;
}

.contact-grid {
  text-align: left;
  width: 75%;
  height: 550px;
  margin-bottom: 20px;
}

.form-label{
  letter-spacing: .1em;
  font-weight: bold;
  text-align: left;
  font-size: 0.9em;
}

.email-label{
  display: flex;
  width:100%;
  height: 70px;
  justify-content: center;
  padding: 0 60px 0 60px;
  align-items: center;
}

.contact-label{
  letter-spacing: .1em;
  font-weight: bold;
  text-align: left;
  font-size: 0.9em;
  color: rgb(55, 50, 104);
}

