body {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: center;
  text-align: center;
}

/* ------- HEADER / NAVIGATION ------- */

.header-color {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height:70px;
  position:fixed;
  padding:10px;
  left:0;
  width:100%;
  z-index: 999;
  border-bottom: 1px solid #5B86E5;
}

.footer {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height:auto;
  position:fixed;
  padding:10px;
  text-align: center;
  left:0;
  bottom:0;
  width:100%;
  border-top: 1px solid #5B86E5;
  color: white;
}

.box{
  height:200px;
}

.navigation{
  display:flex;
  justify-content: space-between;
  width:50%;
  margin: auto;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation a {
  color: white;
  text-shadow: gray 1px 0 10px;
}

.navigation a:hover{
  text-decoration: none;
  color: rgb(44, 65, 110);
}

/* ------- LANDING PAGE ------- */

.landing-grid {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position:relative;
  top:70px;
  width: 100%;
  height: 100%;
  display:flex;
  text-align: center;
  justify-items: center;
}

.myPic {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin:20px
}

.banner-text {
  margin:auto;
  width:75%;
  /* text-align: center; */
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  padding-bottom: 10px;
}

.banner-text h1 {
  font-size: 27px;
  color:white;
}

.banner-text p {
  font-size: 19px;
  color: white;
  padding:5px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;

}

.social-links i {
  color: white;
  font-size: 3.5em;
  padding: 7px;
}

.social-links i:hover {
  color: #5B86E5;
}


/* ------- PROJECTS PAGE ------- */

.projects-grid {
  /* flex-direction: row; */
  justify-content: center;
  top:80px;
  position: relative;
  width: 100%;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin: auto;
}

div.noPadding {
  padding-left: 0;
  padding-right: 0;
}

div.noMargin {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  justify-content: center;
}

h3{
  font-weight: bold;
  color:black;
  font-size:.3rem;
}

.project-card{
  /* width:30%; */
  display: inline-block; 
  height: auto;
  margin:10px;
}

.project-card:hover{
  text-decoration: none;
  transform: translateY(-9px);
  transition: all .3s;
  box-shadow: 0 0 10px 10px #ffffff20;
}

.project-card-title{
  color: #fff; 
  height: 280px 
}

.project-card-text{
  height: 150px;
  padding:10px;
  text-align:left;
}

.project-card-link{
  display:inline-block;
  padding: 0;
  margin: 0;
  width:30%;
}

.project-links{
  text-align: center;
  padding:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-links i{
  text-decoration: none;
  color: black;
  font-size: 30px;
  text-align: center;
  padding:0px;
}

.project-links a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  padding:5px;
}

.project-links a:hover,
.project-card-title a:hover,
.project-links a:hover,
.project-links i:hover, 
a:hover, 
.project-card-text a:hover, 
.card-text a:hover,
p:hover 
p.project-card-text.card-text:hover,
a.project-card-link p:hover{
  color: #5B86E5;
  text-decoration: none;
}

@media (max-width:500px){
  .project-card-title{
    height: 150px 
  }

  .project-card{
    display: inline-block; 
    height: auto;
    margin:8px auto;
    justify-content: center;
  }

  .project-card-link{
    width:70%;
  }

  .navigation{
    justify-content: space-between;
    width:100%;
    font-size:0.8em;
  }

  .header-color{
    position: fixed;
  }

  .about-me-container {
    padding: 2px;
    width:95%;
    margin:0px;
  }

  .banner-text{
    width:90%;
  }
}

/* ------- CONTACT PAGE ------- */

.contact-body {
  margin:auto;
  position: relative;
  top: 80px;
  text-align: center;
  width: 85%;
  height: 100%;
  justify-content: center;
  padding-top:2em;
  color:white;
  font-family: 'Oxygen', sans-serif;;
}

.contact-grid {
  text-align: left;
  width: 75%;
  height: 550px;
  margin-bottom: 20px;
}

.form-label{
  letter-spacing: .1em;
  font-weight: bold;
  text-align: left;
  font-size: 0.9em;
}

.email-label{
  display: flex;
  width:100%;
  height: 70px;
  justify-content: center;
  padding: 0 60px 0 60px;
  align-items: center;
}

.contact-label{
  letter-spacing: .1em;
  font-weight: bold;
  text-align: left;
  font-size: 0.9em;
  color: rgb(55, 50, 104);
}


/* ------- ABOUT ME ------- */

.about-me-container {
  margin: auto;
  position: relative;;
  padding: 5px;
  width:75%;
  border-radius: 10px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
}

.about-me-container p {
  color:rgb(55, 50, 104);
  font-size: 1.1em;
  line-height:1.2em
}